#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GNXEdit
###################################################################
# Edit the line below with <your path name> to your GNXEdit folder
# e.g. /home/gary/GNXEdit-main
Path=/<your path name>
###################################################################
# Edit the line below with <your path name> to your GNXEdit folder
# e.g. /home/gary/GNXEdit-main/src/GNXEdit-main/GNXEdit.png
Icon=/<your path name>/src/GNXEdit.png
###################################################################
Exec=.venv/bin/python3 src/main.py
StartupWMClass=GNXEdit